* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    margin: 0;    
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

a {
    text-decoration: none;
    font-weight: 600;
    color: #FFF;    
}

.header {
    background-color: #133ec2;
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.nav-link {
    padding: 20px;
    line-height: 35px;
    font-size: 20px;    
    transition: .4s;
    border-radius: 30px;
}

.nav-link:hover {
    background-color: #000;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    background: #e4e9ee;
    margin: 0 auto;
}

.section {
    width: 100%;
    padding: 10px;
}

#profile img {
    height: 350px;
}

.section-title {
    padding: 10px;
    width: 100%;
    background-color: #133ec2;
    border-radius: 5px;
    text-transform: uppercase;
}

.section-list {
  margin: 10;
  padding: 0;  
  list-style: none;
}
}

.contacts-list img {
    width: 50px;
}

.footer img {
    height: 35px;
}

.footer .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    background-color: #133ec2;
    
}
